<li data-id="profile-id:$[name]" class="list-group-item d-flex">
  <div class="base me-auto">
    <h4 class="title">$[name]</h3>
      <p class="subtitle">$[path]</p>
  </div>
  <div class="actions mt-auto mb-auto d-grid gap-1 d-md-flex justify-content-md-end">
    <button data-action="exec:$[name]" class="btn btn-success me-md-2"><i class="bi bi-play-fill"></i></button>
    <div class="dropdown">
      <a class="btn dropdown-toggle custom-dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        role="button"><i class="bi bi-three-dots-vertical"></i></a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" data-action="private_exec:$[name]">Run in Private</a></li>
        <li><a class="dropdown-item" data-action="edit:$[name]">Edit profile</a></li>
        <li><a class="dropdown-item" data-action="rename:$[name]">Rename profile</a></li>
        <li><a class="dropdown-item" data-action="shallow_copy:$[name]">Shallow copy</a></li>
        <li><a class="dropdown-item" data-action="deep_copy:$[name]">Deep copy</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-danger" data-action="delete:$[name]">Delete Profile</a></li>
      </ul>
    </div>
  </div>
</li>