<li data-id="profile-id:$[name]" class="list-group-item d-flex">
    <div class="base me-auto">
        <h4 class="title">$[name]</h3>
        <p class="subtitle">$[path]</p>
    </div>
    <div class="actions mt-auto mb-auto">
        <button data-action="exec:$[name]" class="btn btn-success"><i class="bi bi-play-fill"></i></button>
        <button data-action="private_exec:$[name]" class="btn btn-outline-info"><i class="bi bi-person-fill-slash"></i></button>
        <button data-action="edit:$[name]" class="btn btn-outline-secondary"><i class="bi bi-pencil"></i></button>
    </div>
</li>