.subtitle {
  font-size: small;
}

html,
body,
.dv-100 {
  min-height: 100dvh;
  min-width: 100dvw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.config {
  margin-bottom: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.custom-dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown-toggle:focus, .custom-dropdown-toggle:focus-visible, .custom-dropdown-toggle:checked {
  border: 0px;
}

#modal {
  z-index: 2000;
}